@font-face{font-family:'Montserrat';src:url(" https://democracyclub.org.uk/static/scss/fonts/montserrat-medium.5fab2a57b753.woff2") format("woff2"),url(" https://democracyclub.org.uk/static/scss/fonts/montserrat-medium.2e58a0be2c2f.woff") format("woff");font-weight:normal;font-style:normal;font-display:swap}@font-face{font-family:'Montserrat';src:url(" https://democracyclub.org.uk/static/scss/fonts/montserrat-light.f2bcc7f6c846.woff2") format("woff2"),url(" https://democracyclub.org.uk/static/scss/fonts/montserrat-light.2e3055ef1589.woff") format("woff");font-weight:300;font-style:normal;font-display:swap}.ds-stack-larger>*,.ds-stack>*,.ds-filter>*,.ds-stack-smaller>*,.ds-card .ds-card-body>*,.ds-advanced-filters>*,.ds-stack-smallest>*,.ds-copyright>*{margin:0}.ds-stack-larger>*+*{margin-top:4.76837rem}.ds-stack>*+*{margin-top:3.05176rem}.ds-filter>*+*,.ds-stack-smaller>*+*,.ds-card .ds-card-body>*+*{margin-top:1.5625rem}.ds-advanced-filters>*+*,.ds-stack-smallest>*+*,.ds-copyright>*+*{margin-top:.25rem}.ds-filter-cluster>*,.ds-subnav>*,.ds-header nav>*,.ds-language>*,.ds-cluster>*,.ds-cluster-right>*,.ds-cluster-center>*{padding-left:0;list-style:none;display:flex;flex-wrap:wrap;justify-content:flex-start;align-items:center;margin:calc(.625rem * -1)}.ds-filter-cluster>*>*,.ds-subnav>*>*,.ds-header nav>*>*,.ds-language>*>*,.ds-cluster>*>*,.ds-cluster-right>*>*,.ds-cluster-center>*>*{margin:.625rem}.ds-language>*,.ds-cluster-right>*{justify-content:flex-end}.ds-cluster-center>*{justify-content:center}.ds-filter-cluster>*,.ds-cluster-tight>*{margin:calc(.25rem * -1)}.ds-filter-cluster>*>*,.ds-cluster-tight>*>*{margin:.25rem}.ds-grid{padding:0}.ds-grid>*{list-style:none;margin:0;max-width:none}.ds-grid>*+*{margin-top:1.5625rem}@supports (width: calc(min(20px, 100%))){.ds-grid>*+*{margin-top:0}.ds-grid{display:grid;grid-gap:var(--gridGap, 1.25rem);--gridCellMin: 30ch;grid-template-columns:repeat(auto-fit, minmax(min(var(--gridCellMin),100%), 1fr))}}.ds-with-sidebar>*{display:flex;flex-wrap:wrap;margin:calc(1rem * -1)}.ds-with-sidebar .ds-sidebar{margin:1rem;flex-grow:1}.ds-with-sidebar .ds-not-sidebar{margin:1rem;flex-basis:0;flex-grow:999;min-width:calc(50% - 1rem)}.ds-card{position:relative;border:1px solid rgba(64,63,65,0.2);box-shadow:0 2px 4px 0 rgba(0,0,0,0.1)}.ds-card .ds-card-link::after{content:'';position:absolute;top:0;right:0;bottom:0;left:0}.ds-card a:not(.ds-card-link){position:relative;z-index:2}.ds-card .ds-card-image{position:relative;padding-bottom:37.5%}.ds-card .ds-card-image img{position:absolute;width:100%;height:100%;object-fit:cover}.ds-card .ds-card-body{padding:1.95312rem}.ds-footer{padding:4.76837rem 1.25rem;border-top:.5rem solid #007CAD;margin-top:4.76837rem}.ds-copyright{max-width:none}.ds-copyright p{margin:0 !important}.ds-copyright img{max-width:15rem;margin-bottom:.5rem}.ds-dark,.ds-language,.ds-footer,.ds-dark *,.ds-language *,.ds-footer *{color:#fff;background-color:#403F41}.ds-dark .ds-card,.ds-language .ds-card,.ds-footer .ds-card,.ds-dark form,.ds-language form,.ds-footer form,.ds-dark .ds-candidate,.ds-language .ds-candidate,.ds-footer .ds-candidate{border:1px solid}.ds-dark .ds-select::after,.ds-language .ds-select::after,.ds-footer .ds-select::after{border-top-color:#fff}.ds-dark [class*="ds-button"]:not(:active),.ds-language [class*="ds-button"]:not(:active),.ds-footer [class*="ds-button"]:not(:active){border-bottom-color:#000}.ds-visually-hidden{clip:rect(0 0 0 0);clip-path:inset(50%);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px}.ds-padded{padding:1rem}.ds-padded-large{padding:2.44141rem}.ds-bordered{border:2px solid}.ds-text-left{text-align:left}.ds-text-centered{text-align:center}.ds-text-right{text-align:right}.ds-block-centered,.ds-block-centered-narrow{display:block;max-width:70ch;margin-left:auto;margin-right:auto}.ds-block-centered-narrow{max-width:50ch}.ds-width-full{display:block;max-width:none;width:auto}.ds-width-full-text{max-width:70ch}.ds-width-reduced-text{max-width:50ch}.ds-width-half-text{max-width:35ch}.ds-width-third-text{max-width:23ch}.ds-color-#000{color:#403F41}.ds-color-blackOpacity{color:rgba(64,63,65,0.2)}.ds-color-#fff{color:#fff}.ds-color-pinkForWhite{color:#E6007C}.ds-color-blueForWhite{color:#007CAD}.ds-color-blueForBlack{color:#00B6FF}.ds-color-greenForWhite{color:#32841A}.ds-color-greenForBlack{color:#4BC427}.ds-color-amber{color:#FFC037}.ds-bg-color-#000{background-color:#403F41}.ds-bg-color-blackOpacity{background-color:rgba(64,63,65,0.2)}.ds-bg-color-#fff{background-color:#fff}.ds-bg-color-pinkForWhite{background-color:#E6007C}.ds-bg-color-blueForWhite{background-color:#007CAD}.ds-bg-color-blueForBlack{background-color:#00B6FF}.ds-bg-color-greenForWhite{background-color:#32841A}.ds-bg-color-greenForBlack{background-color:#4BC427}.ds-bg-color-amber{background-color:#FFC037}.ds-font-size-s1{font-size:1rem}.ds-font-size-s2{font-size:1.25rem}.ds-font-size-s3{font-size:1.5625rem}.ds-font-size-s4{font-size:1.95312rem}.ds-font-size-s5{font-size:2.44141rem}.ds-font-size-s6{font-size:3.05176rem}.ds-font-size-s7{font-size:3.8147rem}.ds-font-size-s8{font-size:4.76837rem}.ds-height-ss1{height:.125rem}.ds-height-ss2{height:.25rem}.ds-height-ss3{height:.375rem}.ds-height-ss4{height:.5rem}.ds-height-ss5{height:.625rem}.ds-height-ss6{height:.75rem}.ds-height-ss7{height:.875rem}.ds-height-ss8{height:1rem}body{font-size:clamp(1rem, 2vw, 1.25rem);font-family:Montserrat,sans-serif;font-weight:500;line-height:1.125;color:#403F41}body *,body *::before,body *::after{box-sizing:border-box}body{margin:0}input,button,select{font:inherit}*{margin:0}*:focus{outline:.25rem solid #FFC037}header,main,footer,nav,aside,section,details,summary{display:block}img{display:inline-block;max-width:100%;height:auto}code{color:#403F41;background-color:rgba(64,63,65,0.2);word-break:break-word;padding:0 .375rem}div:focus,[tabindex="-1"]:focus,body:focus{outline:none}.ds-skip-link{position:absolute;top:-5rem;display:inline-block;padding:1rem;background-color:#fff}.ds-skip-link:focus{top:0.5rem;left:0.5rem}p,blockquote{font-family:Georgia,serif;font-weight:normal;line-height:1.5;color:#403F41}p+p{margin-top:1rem !important}blockquote{font-size:1.5625rem;font-style:italic;border-left:.5rem solid #FFC037;padding-left:1rem}p,li,dt,dd,blockquote,h1,h2,h3,h4,h5,h6{max-width:70ch}small{font-size:.875rem}h1,.ds-h1,h2,.ds-h2,h3,.ds-h3 h4,.ds-h4{word-break:break-word}h1,.ds-h1{font-size:3.8147rem;font-size:clamp(1.95312rem, 7vw, 3.8147rem)}h2,.ds-h2{font-size:3.05176rem;font-size:clamp(1.95312rem, 6vw, 3.05176rem)}h3,.ds-h3{font-size:2.44141rem;font-size:clamp(1.5625rem, 5vw, 2.44141rem)}h4,.ds-h4{font-size:1.95312rem;font-size:clamp(1.25rem, 4vw, 1.95312rem)}h5,.ds-h5{font-size:1.5625rem;font-size:clamp(1rem, 3vw, 1.5625rem)}h6,.ds-h6{font-size:1.25rem;font-size:clamp(.75rem, 2vw, 1.25rem)}h1,h2,h3,h4,h5,h6{font-weight:500;word-break:break-word}h1,h2{font-weight:300}a{color:#E6007C;text-decoration:underline}ul,ol{font-family:Georgia,serif;font-weight:normal;line-height:1.5;color:#403F41;padding-left:1.95312rem}ul[class],ol[class],[class]>ul:first-child,[class]>ol:first-child{font-family:Montserrat,sans-serif;font-weight:500;line-height:1.125;color:#403F41;padding-left:0}dd{font-family:Georgia,serif;font-weight:normal;line-height:1.5;color:#403F41;margin-left:1.5625rem}dl>*+*{margin-top:.75rem}form{background-color:#E4F4FB}form,fieldset{padding:1.5625rem}form *{margin:0}fieldset{border:2px solid}legend{padding:0 .625rem}form>*+*,fieldset>*:not(legend)+*{margin-top:1.95312rem}.ds-field label{display:block}.ds-field label small{display:block;margin-top:.25rem}.ds-field>*+*{margin-top:.5rem}input[type="text"],input[type="password"],input[type="email"],select{padding:.5rem;border:2px solid;width:100%;max-width:50ch;box-shadow:inset .25rem .25rem 0 rgba(64,63,65,0.2);box-sizing:border-box}.ds-field-error{color:#D91714;display:block}.ds-error{padding:1.25rem;background-color:#D91714;max-width:50ch}.ds-error,.ds-error *{color:#fff}.ds-error span[role="img"]{filter:invert(1) grayscale(1) contrast(100)}dl.ds-descriptions>div{display:flex;flex-wrap:wrap;align-items:center}dl.ds-descriptions>div+div{margin-top:.75rem;padding-top:.75rem;border-top:1px solid rgba(64,63,65,0.2)}dl.ds-descriptions dt,dl.ds-descriptions dd{margin:0;padding:0;max-width:none}dl.ds-descriptions>div>dt{line-height:1.125;flex-basis:10rem;padding-right:1.25rem;flex-grow:1}dl.ds-descriptions dt+*{flex-basis:calc(100% - 12rem);flex-grow:666;min-width:50%}dl.ds-descriptions dt+*{word-break:break-word}dl.ds-descriptions dd+dd{margin-top:.75rem}button[class*="ds-button"]{border:0;cursor:pointer;color:#fff;background-color:#E6007C;font-size:1.25rem;padding:.625rem 1.25rem;border-bottom:.375rem solid #403F41}button[class*="ds-button"]:active:not([disabled]){position:relative;top:.375rem;border-bottom:0;outline:none;margin-bottom:.375rem}button.ds-button-blue{background-color:#007CAD}button[class*="ds-button"][disabled]{cursor:not-allowed;opacity:0.666}.ds-dark button[class*="ds-button"][disabled]:active{border-bottom-color:#000}a.ds-cta{display:inline-block;color:#E6007C;background-color:#fff;font-size:1.25rem;padding:.875rem 1.25rem;border:.25rem solid;text-decoration:none}a.ds-cta[href]:hover{transform:scale(1.05)}a.ds-cta-blue{color:#007CAD}a.ds-cta:not([href]){opacity:0.666;cursor:not-allowed;border-style:dashed}.ds-dark a.ds-cta{background:transparent;color:#fff}.ds-dark a.ds-cta-blue{color:#00B6FF}ul.ds-details{padding:0;list-style:none}details{padding:1rem 0;border-style:solid;border-width:1px 0}details+details,ul.ds-details li+li details{margin-top:0;border-top-width:0}summary{font-family:Montserrat,sans-serif;font-weight:500;line-height:1.125;color:#403F41;font-style:normal;cursor:pointer;font-size:1.5625rem;color:#E6007C}summary>*{font:inherit;display:inline}details[open] summary{margin-bottom:1rem}summary::marker,summary::-webkit-details-marker{display:none}summary::before{line-height:1;content:'▸\0020\0020'}details[open] summary::before{content:'▾\0020\0020'}.ds-candidate{position:relative;display:flex;flex-wrap:wrap;border:1px solid rgba(64,63,65,0.2);box-shadow:0 2px 4px 0 rgba(0,0,0,0.1)}.ds-candidate-body{padding:1.5625rem;flex-grow:999;align-self:center;display:flex;flex-direction:column;justify-content:center;flex-basis:50%}.ds-candidate-name{hyphens:auto;word-break:break-word}.ds-candidate-name a::after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;z-index:2}.ds-candidate-image{background-color:#efefef;flex-grow:1;min-width:10rem;min-width:min(10rem,100%);min-height:10rem;max-width:100%;position:relative;aspect-ratio:1/1}.ds-candidate-image img{display:block;height:100%;position:absolute}@supports (object-fit: cover){.ds-candidate-image img{object-fit:cover;width:100%}}@media (max-width: 400px){li.ds-candidate{flex-wrap:nowrap}li .ds-candidate-body,li .ds-candidate-image{padding:1rem}li .ds-candidate-image{background-color:transparent;min-width:0;display:flex;align-items:center;min-height:0}li .ds-candidate-image img{position:static;object-fit:inherit;height:12vh;width:auto;margin-left:auto}}.ds-candidate:focus-within{outline:.25rem solid #FFC037}.ds-candidate:focus-within a:focus{outline:none}:not(li).ds-candidate .ds-candidate-body{flex-basis:50%}:not(li).ds-candidate .ds-candidate-image{min-width:20rem;min-width:min(20rem,100%)}nav.ds-breadcrumbs ol{font-family:Montserrat,sans-serif;font-weight:500;line-height:1.125;color:#403F41;line-height:1.5;margin:0;list-style:none}nav.ds-breadcrumbs li{display:inline-block}nav.ds-breadcrumbs li:not(:last-child)::after{content:'\00a0\00a0/\00a0'}.ds-table{overflow-x:auto}.ds-table table{position:relative;border-top:0;border-collapse:collapse;min-width:100%;text-align:left}.ds-table th,.ds-table td,.ds-table caption{padding:1rem}.ds-table caption{padding-left:0}.ds-table td{font-family:Georgia,serif}.ds-table tr:nth-child(even){background-color:#E4F4FB}.ds-table caption{font-size:1.5625rem;text-align:left;font-weight:bold;border-bottom:1px solid}.ds-table caption>*{font-size:inherit;font-weight:inherit}.ds-table td+td,.ds-table th+th,.ds-table th+td{border-left:1px solid}.ds-table th:not([scope="row"]){border-bottom:1px solid}.ds-language{padding:.625rem;font-size:1rem}.ds-language [aria-current]{text-decoration:underline;text-decoration-thickness:.125rem;color:#00B6FF}.ds-header{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;padding:1.25rem}.ds-header-home{flex-basis:15rem;flex-grow:0;margin-right:1.25rem}.ds-header-home img{width:100%;max-width:20rem;height:auto}.ds-header nav{margin:1rem 0 1rem}.ds-header ul{font-size:clamp(.875rem, 3vw, 1rem)}.ds-header li{font-family:Montserrat,sans-serif;font-weight:500;line-height:1.125;color:#403F41;display:inline-block}.ds-header nav a{text-decoration:none;color:inherit;display:block;padding:.5rem;border-bottom:2px solid #fff}.ds-header a:hover{border-bottom-color:#007CAD}.ds-header [aria-current]{border-bottom-color:#E6007C}.ds-subnav{color:#E6007C;font-size:clamp(1.25rem, 2.5vw, 1.5625rem)}.ds-subnav>*{margin:calc(.75rem * -1) calc(1.95312rem * -1)}.ds-subnav>*>*{margin:.75rem 1.95312rem;position:relative}.ds-subnav a{text-decoration:none}.ds-subnav li:not(:last-child) a::after{content:'\00b7';position:absolute;right:calc(1.95312rem * -1 - 4px)}.ds-subnav [aria-current]{border-bottom:2px solid}.ds-field-radio{display:flex;align-items:center;cursor:pointer}.ds-field-radio input{clip:rect(0 0 0 0);clip-path:inset(50%);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px}.ds-field-radio>span::before{content:'';border-radius:50%;display:inline-block;width:0.75em;height:0.75em;border:2px solid #403F41;margin-right:.375rem;vertical-align:-0.125em;background-color:#fff}.ds-field-radio>input:checked+span::before{background-color:#E6007C;box-shadow:inset 0 0 0 .25rem #fff}.ds-field-radio>input:focus+span{text-decoration:underline;text-decoration-color:#FFC037;text-decoration-thickness:2px}.ds-field-checkbox{display:flex;align-items:center;cursor:pointer}.ds-field-checkbox input{clip:rect(0 0 0 0);clip-path:inset(50%);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px}.ds-field-checkbox>span{display:flex;align-items:center}.ds-field-checkbox>span::before{content:'';width:1em;height:1em;border:2px solid #403F41;margin-right:.375rem;background-color:#fff;float:left}.ds-field-checkbox>input:checked+span::before{text-align:center;content:'✓';color:#E6007C}.ds-field-checkbox>input:focus+span{text-decoration:underline;text-decoration-color:#FFC037;text-decoration-thickness:2px}.ds-select{display:block;display:inline-block;width:100%;max-width:50ch;position:relative}@supports (-moz-appearance: none) or (-webkit-appearance: none) or (appearance: none){.ds-select select{-moz-appearance:none;-webkit-appearance:none;appearance:none;padding-right:2.44141rem}.ds-select::after{content:'';height:0;width:0;border:1rem solid transparent;border-top-color:#E6007C;border-top-width:0.9rem;position:absolute;right:.75rem;top:50%;transform:translateY(-12.5%);pointer-events:none}}.ds-filter{background-color:#E4F4FB;padding:1.25rem}.ds-filter ul{font-family:Montserrat,sans-serif;font-weight:500;line-height:1.125;color:#403F41}.ds-filter ul a{display:inline-block;text-decoration:none;padding:.375rem 1rem;border:2px solid}.ds-filter ul a[aria-current]{display:inline-block;color:#fff;background-color:#E6007C;border-color:#E6007C}.ds-filter>a{padding:1rem 0}.ds-filter-label{text-transform:uppercase}.ds-filter summary{font-size:inherit}.ds-filter details ul{font-size:0.85em}.ds-status ul{list-style:none}.ds-status ul li{max-width:none}[class*="ds-status-"]{padding:.625rem;font-size:1rem;background-color:#403F41;color:#fff}.ds-status-message{background-color:#007CAD}.ds-status-success{background-color:#32841A}.ds-status-error{background-color:#D91714}pre.ds-codeblock{padding:1rem;background-color:rgba(64,63,65,0.2);line-height:1.125;scrollbar-width:thin;scrollbar-color:#007CAD #403F41}pre.ds-codeblock code{display:block;white-space:pre-wrap;padding:0;background-color:transparent}pre.ds-codeblock.ds-codeblock-scroll{overflow-x:auto}pre.ds-codeblock.ds-codeblock-scroll code{white-space:pre}::-webkit-scrollbar{width:1rem}::-webkit-scrollbar-track{background-color:#403F41}::-webkit-scrollbar-thumb{background-color:#007CAD}.ds-logo{display:inline-flex;align-items:center;text-decoration:none;line-height:1;color:inherit}.ds-logo:not(:last-child):not(:only-child){margin-right:1.5625rem}.ds-logo img{height:4.5rem;margin-right:.625rem}.ds-logo span{font-weight:300;font-size:1.5625rem}.ds-logo em{display:block;font-size:1.25rem;font-weight:normal;font-style:normal;margin-top:.375rem}.ds-page{overflow-x:hidden}.ds-page main{margin-left:auto;margin-right:auto;max-width:70ch;padding:0 1.25rem}.ds-page{background-color:white}main{padding:0 0 !important}input[type=radio]{visibility:hidden}.link-button{display:inline-block;border:2px solid #00AEEF;color:#00AEEF;font-size:1rem;padding:1rem 2rem 1.0625rem 2rem;text-decoration:none}#feedback_form input[data-toggle]:checked+label,#feedback_form input[data-toggle]:checked+label:active{background-color:#00AEEF;color:white;border-color:#0089bc;outline:3px solid #ffbf47}

/*# sourceMappingURL=main.css.map */


.hidden {
    display: none !important;
}


h3.no-break {
    display: inline-block;
    margin-right: 0.5rem;
}



.game-board {
    max-width: 25rem;
    margin: 0 auto !important;
}

.guess {
    margin: 1rem 0;
    font-size: 2rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
}
.guess .letter {
    box-shadow: inset 0.25rem 0.25rem 0 rgba(64, 63, 65, 0.2);
    height:2em;
}

.letter {
    display: inline-block;
    width: 3.8rem;
    padding: .8rem 0 0.9rem 0;
    border: 1px solid #666;
    text-transform: uppercase;
    margin: 0 0.3rem;
    text-align: center;
    min-height: 2.3rem;
}

.letter.check-0 {
    background-color: rgba(64, 63, 65, 0.2);
}
.letter.check-1 {
    background-color: #FFC037;
}
.letter.check-2 {
    background-color: #32841A;
}

.info-block {
    display: none;
    width: 85%;
    margin: 0 auto;
    border: 1px solid #66d;
    border-radius: 0.3rem;
    background-color: #eef;
    padding: 1rem;
    color: #000;
}
h2.sub-header {
    font-variant: small-caps;
    font-size: 1.3rem;
    margin: 0;
}
.game-help .letter {
    min-height: auto;
    padding: 0.1rem 0.2rem;
    margin: 0.1rem;
    width: auto;
}
.game-options {
    border-color: #000;
}
.game-options h2 {
    text-align: center;
}
h3 {
    font-variant: small-caps;
    font-size: 1.1rem;
    margin-bottom: 0;
}
.game-options label {
    display: block;
    margin: 0.5em 0;
    font-size: 1.2rem;
}
.game-options p {
    margin: 0;
}
.radio-set {
    display: flex;
    justify-content: space-evenly;
}
.radio-set label {
    display: block;
    margin: 0;
}


.guess-info {
    padding: 0.5em 1em;
    border: 1px solid #66d;
    border-radius: 0.3rem;
    background-color: #ddf;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
    color: #000;
}
.guess-info.error {
    border-color: #d66;
    background-color: #fdd;
}
.guess-info.success {
    border-color: #6d6;
    background-color: #dfd;
}

.solution-info {
    font-size: 1.2rem;
    border: 1px solid #6d6;
    background-color: #dfd;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    text-align: center;
}
.ds-dark .solution-info {
    color: #000;
}

.surrender-info {
    font-size: 1.2rem;
    border: 1px solid #bb3;
    background-color: #ffd;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    text-align: center;
}
.ds-dark .surrender-info {
    color: #000;
}

.all-letters .letter {
    width: 1.8rem;
    margin: 0.4rem 0;
    padding: 0.5rem 0 0 0;
    min-height: 2em;
    cursor: pointer;
}
.all-letters .row {
    display: flex;
    justify-content: space-between;
}
.all-letters .middle-row {
    margin-left: 1.2rem;
    margin-right: 1rem;
}
.all-letters .bottom-row {
    margin-left: 2rem;
    margin-right: 1rem;
}
.all-letters .letter-del {
    width:2.5em;
}
.ds-dark .letter-del {
    color: #333;
}

.stats {
    margin-top: 2rem;
    text-align: center;
}

.actions {
    margin-top: 1rem;
    text-align: center;
}


.game-stats table {
    width: 90%;
    margin: 1rem auto;
}
.game-stats th {
    text-align: right;
    width: 65%;
}
.game-stats td {
    padding-left: 0.5rem;
}


a.button, a.button:hover, a.button:active, a.button:visited {
    color: red;
    text-decoration: none;
}
.ds-dark a.button, .ds-dark a.button:hover, .ds-dark a.button:active, .ds-dark a.button:visited {
    color: #eee;
}

.button {
    padding: 0.5em 1em;
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 0.2em;
    cursor: pointer;
    box-shadow: 1px 1px 3px #ddd;
    position: relative;
    margin: 0.5em 1em;
}

.ds-dark .button {
    background-color: #555;
    box-shadow: 1px 1px 3px #999;
    color: #eee;
}
.ds-dark .button:hover, .ds-dark .button:active {
    background-color: #555;
}

button[class*="ds-button"] {
    font-size: 2em;
}

.ds-page.ds-dark {
    background-color: #403F41;
}

.ds-dark header nav a {
    color: #FFF;
}
